.carousel {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  
}

.slide {
  height: 500px;
  width: 1550px;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;

}

.slide.active {
  opacity: 1;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
